@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  --safe-area-inset-top: env(safe-area-inset-top);
}

body {
  margin: 0;
  padding-top: var(--safe-area-inset-top, 0px);
  display: flex;
  place-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-slate-900 text-slate-200 antialiased;
}

#root {
  width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full hover:bg-slate-600 transition-colors;
}